body {
    padding-top: 70px;
    padding-bottom: 41px;

    .jumbotron .btn {
        margin-bottom: 10px;
    }

    .navbar-brand img {
        margin: -50px 0;
    }

    .scoreboard {
        margin-top: 50px;
    }

    #board {
        display: none;
    }

    .timer {
        margin-top: 10px;
    }

    .chat-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        .chat-panel {
            margin-bottom: 0;
            .panel-heading{
                a {
                    color: white;
                    text-decoration: none;
                    .chat-label {
                        margin: 0 10px;
                    }
                }
            }
        }
    }

    .progress .progress-bar {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
}


@media (max-width: 337px) {
    .rpimm {
        display: none;
    }
}

